.container {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-around;
  margin: 0 0 0 auto;
}

.container h1 {
  color: var(--title-color);
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  padding: 40px 0 30px;
}

.container img {
  border-radius: 50px;
  width: 15rem;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.container h3 {
  color: var(--title-color);
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.container p {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 15px;
  text-align: justify;
}

.container p a {
  color: #2fc18c;
}

.container p a:hover {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .container h3 {
    font-size: 1.8em;
  }

  .container p {
    font-size: 1em;
    line-height: 1.3em;
  }

  .container img {
    width: 10em;
  }
}

.container figure {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container figure img {
  width: 130px;
  margin: 10px 0;
}

@media screen and (max-width: 912px) {
  .container {
    display: flex;
    width: 100%;
    margin: 4rem 0 0 0;
  }

  .container p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 414px) {
  .container figure {
    width: 90%;
  }

  .container figure img {
    width: 100px;
  }
}
