.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0 0 0 auto;
    width: 75%;
  }

  .container div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  
  .container h1 {
    color: var(--title-color);
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    padding: 1em;
  }

  .container form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .container label {
    font-size: 1.3em;
  }

  .container input {
    font-size: 1em;
    padding: 8px;
    margin-bottom: 20px;
    border: none;
  }

  .container textarea {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
  }

  .container button {
    background-color: transparent;
    color: var(--button-text);
    padding: 15px;
    font-size: 1em;
    transition: 0.3s;
    border-radius: 5px;
  }
  
  .container button:hover {
    cursor: pointer;
    background-color: var(--button-color);
  }
  
  .container button:active {
    background-color: white;
  }

  @media screen and (max-width: 1024px) {
    .container h1 {
      padding: 20px 0 10px;
    }

    .container label {
      font-size: 1.1em;
    }
  
    .container input {
      margin-bottom: 15px;
    }
  
    .container textarea {
      font-size: 15px;
      padding: 5px;
      margin-bottom: 15px;
    }

    .container button {
      padding: 10px;
    }
  }

  @media screen and (max-width: 912px) {
    .container {
      width: 100%;
    }
    
    .container div {
      width: 100%;
      height: auto;
    }

    .container form {
      margin-bottom: 2rem;
    }
  }
