@media screen and (min-width: 913px) {
  .container {
    display: none;
  }
    
}

@media screen and (max-width: 912px) {
  .container {
    width: 100%;
  }

  .container nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .container nav a {
    margin: 0 10px;
    font-size: 2em;
  }
  
  .container nav a:nth-child(1) {
    color: #0e76a8;
  }
  
  .container nav a:nth-child(2) {
    color: black;
  }
  
  .container nav a:nth-child(3) {
    color: #34af23;
  }
  
  .container span {
    font-size: 1.3rem;
  }
}